@charset "utf-8";
#wrap{
    width: 100%;
    min-width: 1220px;
    position: relative;
}
/* header */
.h_in{
    position: relative;
    width: 1200px;
    height: 80px;
    margin:  0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    display: block;
    width: 140px;
    height: 20px;
}
/* header menu */
.h_gnb{
    position: absolute;
    top: 30px;
    left: 230px;
}
.h_gnb ul{
    display: flex;
}

.h_gnb li{
    margin-left: 50px;
}

.h_gnb li a{
    color: #222;
    font-size: 17px;
}

/* utill */
.utill ul{
    display: flex;
}
.utill li{
    margin-left: 15px;
}
.utill li a{
    color: #777;
}
.utill li a:hover{
    color: #222;
}
.utill .u_search a{
    display: block;
    width: 30px;
    height: 20px;
    background-image: url(../img/icon_search.png);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -999999px;
}
.utill .u_cart a{
    display: block;
    width: 30px;
    height: 20px;
    background-image: url(../img/icon_cart.png);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -999999px;
}
/* main */
.main_slide{
    position: relative;
    height: 480px;
    margin-bottom: 50px;
}
.main_slide a{
    position: absolute;
    left: 50%;
    margin-left: -800px;
    /* top: 0; */
    /* margin-left: 30px; */
}
/* new_season */
.new_season{
    width: 1200px;
    margin-bottom: 30px;
    margin:  0 auto;
    /*  position: relative; */
    /* height: 80px;
    top: 60px; */
}
.new_season ul{
    position: relative;
    display: flex;
    justify-content: space-between;
}
/* best */
.best{
    position: relative;
    width: 1200px;
    top: 40px;
    margin:  0 auto;
    margin-bottom: 90px;
    /* height: 60px; */
    /* align-items: center; */
}
.best_text{
    /* position: absolute; */
    font-weight: 500;
    margin-bottom: 20px;
}
.best text span{
    font-weight: 400;
}
.best ul{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    /* position: absolute; */
    /* top: 60px; */
}
.best li{
    width: 285px;
    text-align: center;
}
.best .photo img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid #ddd;
    margin-bottom: 18px;
}
.best .b_name{
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px;
}
.best .item_name{
    height: 55px;
    font-weight: 400;
    font-size: 17px;
    color: #555;
    margin-bottom: 20px;
}
.best .price{
    font-weight: 600;
    font-size: 16px;
}
.best .price img{
    margin-top: 7px;
}
.more{
    position: absolute;
    color: #777;
    right: 0;
    top: 0;
}
/* promotion */
.promo{
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
.promo ul{
    display: flex;
    justify-content: space-between;
}
.promo li{
    position: relative;
}
.promo li .text{
    position: absolute;
    left: 22px;
    top: 55px;
    font-size: 16px;
    color: #777;
    line-height: 23px;
}
/* footer */
#footer{
    border-top: 1px solid #ddd;
    padding-top: 30px;
    padding-bottom: 40px;
}
.footerIn{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.ft_bar{
    /* padding-bottom: 20px; */
    margin-bottom: 20px;
}
.ft_bar ul{
    display: flex;
}
.ft_bar li{
    margin-right: 15px;
}
.ft_bar li a{
    color: #777;
}
.ft_bar .colorPoint a{
    color: hotpink;
}
.ft_info, .ft_info a{
    color: #777;
}
.ft_info span{
    margin-right: 14px;
}
.ft_info .bar{
    font-size: 11px;
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: top;
    color: #999;
}
/* footer KG */
.ft_kg{
    color: #777;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
}
.kg_logo{
    margin-bottom: 11px;
}
.kg_text{
    line-height: 20px;
    margin-bottom: 13px;
}
.kg_link a{
    background-image: url(../img/arrow01.png);
    background-repeat: no-repeat;
    background-position: right 8px;
    padding-right: 10px;
}