@charset "utf-8";
#wrap {
    position: relative;
    width: 100%;
    min-width: 1220px;
}
.header_in {
    position: absolute;
}
.header_in ul {
    display: flex;
    justify-content: center;
}
