@charset "utf-8";
#wrap{
    width: 100%;
    min-width: 1220px;
    position: relative;
}
/* header */
.h_in{
    position: relative;
    width: 1200px;
    height: 80px;
    margin:  0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    display: block;
    width: 140px;
    height: 20px;
}
/* header menu */
.h_gnb{
    position: absolute;
    top: 30px;
    left: 230px;
}
.h_gnb ul{
    display: flex;
}

.h_gnb li{
    margin-left: 50px;
}

.h_gnb li a{
    color: #222;
    font-size: 17px;
}

/* utill */
.utill ul{
    display: flex;
}
.utill li{
    margin-left: 15px;
}
.utill li a{
    color: #777;
}
.utill li a:hover{
    color: #222;
}
.utill .u_search a{
    display: block;
    width: 30px;
    height: 20px;
    background-image: url(../img/icon_search.png);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -999999px;
}
.utill .u_cart a{
    display: block;
    width: 30px;
    height: 20px;
    background-image: url(../img/icon_cart.png);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -999999px;
}
/* main */
.main_slide{
    position: relative;
    height: 500px;
}
.main_slide a{
    position: absolute;
    left: 50%;
    margin-left: -800px;
    /* top: 0; */
    /* margin-left: 30px; */
}
/* new_season */
.new_season{
    position: relative;
    width: 1200px;
    height: 80px;
    top: 40px;
    margin-bottom: 30px;
    margin:  0 auto;
}
.new_season ul{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* best */
.best{
    position: relative;
    width: 1200px;
    height: 60px;
    top: 200px;
    margin:  0 auto;
    align-items: center;
}
.best_text{
    position: absolute;
    margin-bottom: 20px;
}
.best ul{
    width: 100%;
    position: absolute;
    top: 60px;
    display: flex;
}
.best li p{
    text-align: center;
}
.itemImg .photo img{
    width: 95%;
    margin: 0 auto;
    border: 1px solid #999;
    margin-bottom: 16px;
}
.b_name{
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px;
}
.item_name{
    font-weight: 400;
    font-size: 17px;
    color: #555;
    margin-bottom: 20px;
}
.price{
    /* position: absolute; */
    display: block;
    font-weight: 600;
    font-size: 16px;
}
.price img{
    margin-top: 7px;
}
.more{
    position: absolute;
    right: 14px;
    color: #777;
    margin-top: 5px;
}

/* .more::after{
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
    transform: rotate(45deg);
    margin-left: 5px;
} */